<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>mySessionFilter</filter-name>
        <filter-class>ua.study.epam.filters.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>mySessionFilter</filter-name>
        <servlet-name>hotel</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>hotel</servlet-name>
        <servlet-class>ua.study.epam.servlet.ServletDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hotel</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
</web-app>