<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>ua.study.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>urlFilter</filter-name>
        <filter-class>ua.study.filter.UrlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>urlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>signInFilter</filter-name>
        <filter-class>ua.study.filter.SignInFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>signInFilter</filter-name>
        <url-pattern>/dates</url-pattern>
        <url-pattern>/dates_handler</url-pattern>
        <url-pattern>/reservation</url-pattern>
        <url-pattern>/reservation_handler</url-pattern>
        <url-pattern>/bill</url-pattern>
        <url-pattern>/bill_handler</url-pattern>
        <url-pattern>/my_reservations</url-pattern>
        <url-pattern>/confirmation</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>errorMessageFilter</filter-name>
        <filter-class>ua.study.filter.ErrorMessageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>errorMessageFilter</filter-name>
        <servlet-name>hotel</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>hotel</servlet-name>
        <servlet-class>ua.study.servlet.ServletDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hotel</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.jpeg</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>
</web-app>